@media(prefers-color-scheme: light) {
    :root {
        --primary: #16171F;
        --dim: #E2E2E7;
        --accent: #78E2A0;
        --background: #F0F0F3;
    }
}

@media(prefers-color-scheme: dark) {
    :root {
        --primary: #F0F0F3;
        --dim: #2B303B;
        --accent: #455C4C;
        --background: #16171F;
    }
}

body {
    background-color: var(--background);
    color: var(--primary);

    margin: 1em auto;
    max-width: 40em;
    padding: 0 1em;
    font: 1.2em/1.62 sans-serif;
}

@media print {
    body {
        max-width: none
    }
}

h1 { font-size: 2em; }

h1, h2, h3, h4 {
    display: inline-block;
    margin: .2em 0 .2em -0.1em;
    padding: 0 .1em;
    line-height: 1.4;
    background: repeating-linear-gradient(to top, var(--accent), var(--accent) .6em, rgba(255,255,255,0) .6em 1.4em);
}


h1 > a, h2 > a, h3 > a, h4 > a {
    text-decoration: none;
    color: var(--primary);
}

h1 > a, h2 > a, h3 > a, h4 > a {
    background: none;
}

h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover {
    background: transparent;
}

a {
    color: var(--primary);
    text-decoration: none;
    background: linear-gradient(to top, var(--accent), var(--accent) 30%, rgba(255,255,255,0) 30%);
    padding: 0 0.1em;
    transition: all 0.2s;
}

a:hover {
    background-color: var(--accent);
}

#zola-continue-reading a {
    padding: 0
}

p > code {
    font-size: 1.1em;
    padding: 0.1em 0.3em;
    background-color: var(--dim);
    border-radius: 0.3em;
}

pre {
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    overflow-x: auto;
}

hr {
    height: 0.2em;
    border: 0;
    background-color: var(--accent);
}

footer {
    margin-top: 5em;
}

header {
    display: flex;
    margin-top: 1em;
    margin-bottom: 4em;
}

header > p {
    margin: 0;
}

nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    margin-left: 1em;
}

nav > ul > li > a {
    background-image: none;
}

#site-title {
    font-weight: bold;
}

h1 + article, article + article {
    margin-top: 1em;
}
