@media(prefers-color-scheme: light) {
    :root {
        --primary: #111;
        --accent: #78E2A0;
        --background: #EEE;
    }
}
@media(prefers-color-scheme: dark) {
    :root {
        --primary: #EEE;
        --accent: #2B317C;
        --background: #111;
    }
}

body {
    background-color: var(--background);
    color: var(--primary);

    margin: 1em auto;
    max-width: 40em;
    padding: 0 1em;
    font: 1.3em/1.62 sans-serif;
}

h1, h2, h3, h4 {
    line-height: 1.4;
    display: inline-block;
    padding: 0 0.25em;
    margin: .22em 0 .22em -0.25em;
    background: linear-gradient(to top, var(--accent), var(--accent) 38%, rgba(255,255,255,0) 38%);
}

h1 { font-size: 2em; }

h1 > a, h2 > a, h3 > a, h4 > a {
    text-decoration: none;
    color: var(--primary);
}

a {
    color: var(--primary);
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(to top, var(--accent), var(--accent) 38%, rgba(255,255,255,0) 38%);
    padding: 0 0.1em;
}

#zola-continue-reading a {
    padding: 0
}

@media print {
    body {
        max-width: none
    }
}
