<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="/style.css" rel="stylesheet">

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/icons/icon.svg" type="image/svg+xml" sizes="any">
    <link rel="apple-touch-icon" href="/icons/180.png">

    <title>{% block title %}bytes.zone{% endblock %}</title>
    <link rel="canonical" href="{{ current_url | safe }}">
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock %}">

    {% block rss -%}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="index.xml", trailing_slash=false) | safe }}">
    {% endblock -%}

    {% block metadata -%}
    <meta property="og:title" content="bytes.zone">
    <meta property="og:url" content="{{ current_url | safe }}">
    <meta property="og:description" content="{{ config.description }}">
    <meta property="og:site_name" content="{{ config.title }}">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="{{ config.title }}">
    <meta property="twitter:description" content="{{ config.description }}">
    <meta property="og:type" content="website">
    {% endblock -%}
  </head>
  <body>
    <header>
      <p><a href="/" id="site-title">bytes.zone</a></p>
      <nav>
        <ul>
          <li><a href="/posts">posts</a></li>
          <li><a href="/projects">projects</a></li>
          <li><a href="/talks">talks</a></li>
          <li><a href="/open-invitation">open invitation</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <hr>
      <p>
        The content on this site is released under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
        <a href="/colophon">Colophon</a>
      </p>
    </footer>

    <script data-goatcounter="https://stats.bytes.zone/count" async src="//stats.bytes.zone/count.js"></script>
    <noscript><img src="https://stats.bytes.zone/count"></noscript>
  </body>
</html>
