{% extends "base.html" %}


{% block content -%}
{% set posts = get_section(path="posts/_index.md") -%}
{% set talks = get_section(path="talks/_index.md") -%}
{% set all_projects = get_section(path="projects/_index.md") -%}
{% set projects = all_projects.pages | group_by(attribute="extra.when") -%}

<h1>👋 Hey There</h1>
<p>My name is Brian. You've found my site!</p>
<p>The latest post I wrote was <strong><a href="{{ posts.pages[0].path | safe }}">{{ posts.pages[0].title | markdown(inline=true) | safe }}</a></strong>, and the latest talk I gave was <strong><a href="{{ talks.pages[0].path | safe }}">{{ talks.pages[0].title | markdown(inline=true) | safe }}</a></strong> at {{ talks.pages[0].extra.event }}.</p>
<p>{% if projects.now %}Right now I'm working on {% for project in projects.now %}{% if not loop.first %}{% if projects.now | length > 2 and loop.last %}, and {% elif loop.last %} and {% else %}, {% endif %}{% endif %}<a href="{{ project.path | safe }}"><strong>{{ project.title }}</strong></a> ({{ project.description }}{% if loop.last %}.{% endif %}){% endfor %}{% endif %}{% if projects.next %} {% if projects.now %}After that,{% else %}Soon,{% endif %} I'll be working on {% for project in projects.next %}{% if not loop.first %}{% if projects.next | length > 2 and loop.last %}, and {% elif loop.last %} and {% else %}, {% endif %}{% endif %}<a href="{{ project.path | safe }}"><strong>{{ project.title }}</strong></a> ({{ project.description }}{% if loop.last %}.{% endif %}){% endfor %}{% endif %}<p>
{% if projects.past %}<p>In the past, I've worked on {% for project in projects.past %}{% if not loop.first %}{% if projects.past | length > 2 and loop.last %}, and {% elif loop.last %} and {% else %}, {% endif %}{% endif %}<a href="{{ project.path | safe }}"><strong>{{ project.title }}</strong></a> ({{ project.description }}{% if loop.last %}.{% endif %}){% endfor %}</p>{% endif %}
<p><small>Made with Love in St. Louis, MO. Have a wonderful day! ❤️</small></p>

{% endblock %}
