<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preload" href="./content.json" as="fetch" crossorigin="" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="manifest" href="/assets/manifest.json" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="theme-color" content="#5da97d" />
    <meta name="application-name" content="bytes.zone" />

    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="/assets/favicon-48x48.png" />

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="167x167" href="/assets/apple-touch-icon-167x167.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon-180x180.png" />
    <link rel="apple-touch-icon" sizes="1024x1024" href="/assets/apple-touch-icon-1024x1024.png" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="bytes.zone" />

    <title>👋 Hey There</title>
    <link rel="canonical" href="https://bytes.zone/" />
    <meta name="description" content="get in the bytes zone" />
    <meta property="og:image" content="https://bytes.zone/images/icon.png" />
    <meta property="og:image:secure_url" content="https://bytes.zone/images/icon.png" />
    <meta property="og:image:alt" content="bytes.zone logo" />
    <meta property="og:title" content="👋 Hey There" />
    <meta property="og:url" content="https://bytes.zone/" />
    <meta property="og:description" content="get in the bytes zone" />
    <meta property="og:site_name" content="bytes.zone" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="👋 Hey There" />
    <meta property="twitter:description" content="get in the bytes zone" />
    <meta property="twitter:image" content="https://bytes.zone/images/icon.png" />
    <meta property="twitter:image:alt" content="bytes.zone logo" />
    <meta property="og:type" content="website" />

    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <div>
      <header class="_1ab78c17">
        <a class="_83d86dd5" href="/">bytes.zone</a>
        <ul class="_e5511ed9">
          <li class="_52e03752">
            <a class="_97a3966b" href="/posts">posts</a>
          </li>
          <li class="_52e03752">
            <a class="_97a3966b" href="/talks">talks</a>
          </li>
        </ul>
      </header>
      <main>
        <h1 class="_b5f09545"><span class="_848896be">👋 Hey There</span></h1>
        <p class="_a9ef6301">
          My name is Brian! I'm the lead organizer of
          <a class="_5b154d2d" href="https://www.elm-conf.com">elm-conf</a> and
          the author of
          <a class="_5b154d2d" href="https://www.brianthicks.com/json-survival-kit/">Mastering Elm: JSON Decoders</a>
          and a bunch of Elm packages. You've found my site!
        </p>
        <p class="_89d0fd1b">
          The latest post I wrote was
          <a class="_5b154d2d" href="/posts/renaming-files">Renaming Files with Braces</a>,
          and the latest talk I gave was
          <a class="_5b154d2d" href="/talks/robot-buttons-from-mars">Robot Buttons from Mars</a>
          at Elm in the Spring.
        </p>
        <p class="_c78cfb59">
          Made with Love in St. Louis, MO. Have a wonderful day! ❤️
        </p>
      </main>
      <footer>
        <hr class="_516b5ebe" />
        <p class="_89d0fd1b _9b66ecb6">
          The content on this site is released under the
          <a class="_5b154d2d" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a>.
        </p>
      </footer>
    </div>
  </body>
</html>
