<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/png" href="data:image/png;base64,">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <main>
      <h1>👋 Hey There</h1>
      <p>My name is Brian! I'm the lead organizer of elm-conf and the author of Mastering Elm: JSON Decoders and a bunch of Elm packages. You've found my site!</p>
      <p>The latest post I wrote was elo-anything, and the latest talk I gave was Robot Buttons from Mars at Elm in the Spring.</p>
      <p><small>Made with Love in St. Louis, MO. Have a wonderful day! ❤️</small></p>
    </main>
  </body>
</html>
