{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<h1>{{ section.title }}</h1>
{% for year, pages in section.pages | group_by(attribute="year") %}
<dl>
  <dt>{{ year }}</dt>
  {% for page in pages %}
  <dd>
    {% if page.extra.featured %}⭐️{% endif %}
    <a href="{{page.permalink | safe }}">{{ page.title | markdown(inline=true) | safe }}</a>{% if page.date %}, <em>{{ page.date | date(format="%B %-d, %Y") }}</em>{% endif %}
  </dd>
  {% endfor %}
</dl>
{% endfor %}

{% endblock %}
