{% extends "base.html" %}

{% block title %}{{ page.title | markdown | striptags | trim }}{% endblock %}

{% block description %}{{ page.description }}{% endblock %}

{% block metadata %}
<meta property="og:title" content="{{ page.title }}">
<meta property="og:url" content="{{ current_url | safe }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:site_name" content="{{ config.title }}">
<meta property="twitter:card" content="summary">
<meta property="twitter:title" content="{{ page.title }}">
<meta property="twitter:description" content="{{ page.description }}">
<meta property="og:type" content="website">
{% endblock %}

{% block content %}
<article>
  <h1>{{ page.title | markdown(inline=true) | safe }}</h1>
  <aside>{{ page.description }}</aside>

  {{ page.content | safe }}

  {% set posts = get_section(path="posts/_index.md") -%}
  {% set talks = get_section(path="talks/_index.md") -%}
  {% set micros = get_section(path="micro/_index.md") -%}
  {% set updates = posts.pages | concat(with=talks.pages) | concat(with=micros.pages) | filter(attribute="extra.project", value=page.title) -%}
  {%- if updates %}
  <h2>Updates</h2>
  <dl>
  {% for year, by_year in updates | group_by(attribute="year") %}
  <dt>{{ year }}</dt>
  {% for update in by_year %}
  <dd>
    <a href="{{update.permalink | safe }}">{{ update.title | markdown(inline=true) | safe }}</a>{% if update.date %}, <em>{{ update.date | date(format="%B %-d, %Y") }}</em>{% endif %}
  </dd>
  {% endfor %}
  {% endfor %}
  </dl>
  {% endif %}
</article>
{% endblock %}
